In [53]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from scipy.stats import ttest_ind, f_oneway

In [2]:
file_path = r"C:\Users\leube\Ironhack\Bootcamp\Final_project\archive (33)\StudentPerformanceFactors.csv"

df = pd.read_csv(file_path)
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [51]:
df.isna().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

In [5]:
df_cleaned = df.dropna()

In [6]:
df_cleaned

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [52]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6378 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6378 non-null   int64
 1   Attendance                  6378 non-null   int64
 2   Parental_Involvement        6378 non-null   int64
 3   Access_to_Resources         6378 non-null   int64
 4   Extracurricular_Activities  6378 non-null   int64
 5   Sleep_Hours                 6378 non-null   int64
 6   Previous_Scores             6378 non-null   int64
 7   Motivation_Level            6378 non-null   int64
 8   Internet_Access             6378 non-null   int64
 9   Tutoring_Sessions           6378 non-null   int64
 10  Family_Income               6378 non-null   int64
 11  Teacher_Quality             6378 non-null   int64
 12  School_Type                 6378 non-null   int64
 13  Peer_Influence              6378 non-null   int64
 14  Physical_Activity           6378 non-null   int64
 15  Learning_Disabilities       6378 non-null   int64
 16  Parental_Education_Level    6378 non-null   int64
 17  Distance_from_Home          6378 non-null   int64
 18  Gender                      6378 non-null   int64
 19  Exam_Score                  6378 non-null   int64
dtypes: int64(20)
memory usage: 1.0 MB

In [8]:
df_cleaned['Parental_Involvement'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [9]:
df_cleaned['Parental_Involvement'] = df_cleaned['Parental_Involvement'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\3106882308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Parental_Involvement'] = df_cleaned['Parental_Involvement'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

In [10]:
df_cleaned['Parental_Involvement']

0       1
1       1
2       2
3       1
4       2
       ..
6602    3
6603    3
6604    2
6605    3
6606    2
Name: Parental_Involvement, Length: 6378, dtype: int64

In [11]:
df_cleaned['Access_to_Resources'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

In [12]:
df_cleaned['Access_to_Resources'] = df_cleaned['Access_to_Resources'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\965109487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Access_to_Resources'] = df_cleaned['Access_to_Resources'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

In [13]:
df_cleaned['Access_to_Resources']

0       3
1       2
2       2
3       2
4       2
       ..
6602    2
6603    2
6604    1
6605    3
6606    1
Name: Access_to_Resources, Length: 6378, dtype: int64

In [14]:
df_cleaned['Extracurricular_Activities'].unique()

array(['No', 'Yes'], dtype=object)

In [15]:
df_cleaned['Extracurricular_Activities'] = df_cleaned['Extracurricular_Activities'].replace('No', 0).replace('Yes', 1)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\2374457325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Extracurricular_Activities'] = df_cleaned['Extracurricular_Activities'].replace('No', 0).replace('Yes', 1)

In [16]:
df_cleaned['Extracurricular_Activities']

0       0
1       0
2       1
3       1
4       1
       ..
6602    0
6603    0
6604    1
6605    1
6606    1
Name: Extracurricular_Activities, Length: 6378, dtype: int64

In [17]:
df_cleaned['Motivation_Level'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [18]:
df_cleaned['Motivation_Level'] = df_cleaned['Motivation_Level'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\2127333163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Motivation_Level'] = df_cleaned['Motivation_Level'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

In [19]:
df_cleaned['Motivation_Level']

0       1
1       1
2       2
3       2
4       2
       ..
6602    2
6603    2
6604    1
6605    3
6606    2
Name: Motivation_Level, Length: 6378, dtype: int64

In [20]:
df_cleaned['Internet_Access'].unique()

array(['Yes', 'No'], dtype=object)

In [21]:
df_cleaned['Internet_Access'] = df_cleaned['Internet_Access'].replace('No', 0).replace('Yes', 1)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\743129517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Internet_Access'] = df_cleaned['Internet_Access'].replace('No', 0).replace('Yes', 1)

In [22]:
df_cleaned['Internet_Access']

0       1
1       1
2       1
3       1
4       1
       ..
6602    1
6603    1
6604    1
6605    1
6606    1
Name: Internet_Access, Length: 6378, dtype: int64

In [23]:
df['Family_Income'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [24]:
df_cleaned['Family_Income'] = df_cleaned['Family_Income'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\311212474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Family_Income'] = df_cleaned['Family_Income'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

In [25]:
df_cleaned['Family_Income']

0       1
1       2
2       2
3       2
4       2
       ..
6602    3
6603    1
6604    1
6605    1
6606    2
Name: Family_Income, Length: 6378, dtype: int64

In [26]:
df_cleaned['Teacher_Quality'].unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [27]:
df_cleaned['Teacher_Quality'] = df_cleaned['Teacher_Quality'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\1705296519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Teacher_Quality'] = df_cleaned['Teacher_Quality'].replace('Low', 1).replace('Medium', 2).replace('High', 3)

In [28]:
df_cleaned['Teacher_Quality']

0       2
1       2
2       2
3       2
4       3
       ..
6602    2
6603    3
6604    2
6605    2
6606    2
Name: Teacher_Quality, Length: 6378, dtype: int64

In [30]:
df_cleaned['School_Type'].unique()

array(['Public', 'Private'], dtype=object)

In [31]:
df_cleaned['School_Type'] = df_cleaned['School_Type'].replace('Public', 0).replace('Private', 1)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\1502706732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['School_Type'] = df_cleaned['School_Type'].replace('Public', 0).replace('Private', 1)

In [32]:
df_cleaned['School_Type']

0       0
1       0
2       0
3       0
4       0
       ..
6602    0
6603    0
6604    0
6605    1
6606    0
Name: School_Type, Length: 6378, dtype: int64

In [34]:
df_cleaned['Peer_Influence'].unique()

array(['Positive', 'Negative', 'Neutral'], dtype=object)

In [35]:
df_cleaned['Peer_Influence'] = df_cleaned['Peer_Influence'].replace('Positive', 1).replace('Negative', 2).replace('Neutral', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\2156363108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Peer_Influence'] = df_cleaned['Peer_Influence'].replace('Positive', 1).replace('Negative', 2).replace('Neutral', 3)

In [36]:
df_cleaned['Peer_Influence']

0       1
1       2
2       3
3       2
4       3
       ..
6602    1
6603    1
6604    2
6605    1
6606    1
Name: Peer_Influence, Length: 6378, dtype: int64

In [38]:
df_cleaned['Learning_Disabilities'].unique()

array(['No', 'Yes'], dtype=object)

In [39]:
df_cleaned['Learning_Disabilities'] = df_cleaned['Learning_Disabilities'].replace('No', 0).replace('Yes', 1)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\652964834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Learning_Disabilities'] = df_cleaned['Learning_Disabilities'].replace('No', 0).replace('Yes', 1)

In [40]:
df_cleaned['Learning_Disabilities']

0       0
1       0
2       0
3       0
4       0
       ..
6602    0
6603    0
6604    0
6605    0
6606    0
Name: Learning_Disabilities, Length: 6378, dtype: int64

In [42]:
df_cleaned['Parental_Education_Level'].unique()

array(['High School', 'College', 'Postgraduate'], dtype=object)

In [43]:
df_cleaned['Parental_Education_Level'] = df_cleaned['Parental_Education_Level'].replace('College', 1).replace('High School', 2).replace('Postgraduate', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\1554310522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Parental_Education_Level'] = df_cleaned['Parental_Education_Level'].replace('College', 1).replace('High School', 2).replace('Postgraduate', 3)

In [44]:
df_cleaned['Parental_Education_Level']

0       2
1       1
2       3
3       2
4       1
       ..
6602    2
6603    2
6604    3
6605    2
6606    3
Name: Parental_Education_Level, Length: 6378, dtype: int64

In [46]:
df_cleaned['Distance_from_Home'].unique()

array(['Near', 'Moderate', 'Far'], dtype=object)

In [47]:
df_cleaned['Distance_from_Home'] = df_cleaned['Distance_from_Home'].replace('Near', 1).replace('Moderate', 2).replace('Far', 3)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\400226966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Distance_from_Home'] = df_cleaned['Distance_from_Home'].replace('Near', 1).replace('Moderate', 2).replace('Far', 3)

In [48]:
df_cleaned['Distance_from_Home']

0       1
1       2
2       1
3       2
4       1
       ..
6602    1
6603    1
6604    1
6605    3
6606    1
Name: Distance_from_Home, Length: 6378, dtype: int64

In [49]:
df_cleaned['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [50]:
df_cleaned['Gender'] = df_cleaned['Gender'].replace('Female', 0).replace('Male', 1)

C:\Users\leube\AppData\Local\Temp\ipykernel_3820\3094695113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Gender'] = df_cleaned['Gender'].replace('Female', 0).replace('Male', 1)

In [60]:
binary_columns = ['Extracurricular_Activities', 'Internet_Access', 'School_Type', 'Learning_Disabilities', 'Gender']
multi_class_columns = ['Parental_Involvement', 'Access_to_Resources', 'Motivation_Level', 'Family_Income', 'Teacher_Quality', 'Peer_Influence', 'Parental_Education_Level', 'Distance_from_Home']

In [58]:
for column in binary_columns:
    group1 = df_cleaned[df_cleaned[column] == 0]['Exam_Score']
    group2 = df_cleaned[df_cleaned[column] == 1]['Exam_Score']
    t_stat, p_val = ttest_ind(group1, group2)
    print(f'{column}: t-stat = {t_stat}, p-value = {p_val}')
    significance = "less than 0.05" if p_val < 0.05 else "greater than 0.05"
    print(f"{column}: p-values = {p_val} (p-value is {significance})")

Extracurricular_Activities: t-stat = -5.0455837895021345, p-value = 4.6465544032214617e-07
Extracurricular_Activities: p-values = 4.6465544032214617e-07 (p-value is less than 0.05)
Internet_Access: t-stat = -4.08756319841647, p-value = 4.4128283860873265e-05
Internet_Access: p-values = 4.4128283860873265e-05 (p-value is less than 0.05)
School_Type: t-stat = -0.8678688768139758, p-value = 0.3854987810270891
School_Type: p-values = 0.3854987810270891 (p-value is greater than 0.05)
Learning_Disabilities: t-stat = 6.724032864609853, p-value = 1.9211255816166116e-11
Learning_Disabilities: p-values = 1.9211255816166116e-11 (p-value is less than 0.05)
Gender: t-stat = 0.39386280795717277, p-value = 0.6936955012015205
Gender: p-values = 0.6936955012015205 (p-value is greater than 0.05)

In [59]:
#Statistically significant: 
#   Extracurricular activities
#   Internet acess
#   learning disabilities
#   Parental involvement
#   Access to recources
#   Motivation level
#   Family income
#   Teacher Quality
#   Peer influence
#   Parental education level
#   Distance from home
#Not significant:
#   School type
#   gender

In [62]:
for column in multi_class_columns:
    groups = [df_cleaned[df_cleaned[column] == values]['Exam_Score'] for values in df_cleaned[column].unique()]
    f_stat, p_val = f_oneway(*groups)
    print(f'{column}: F-stat = {f_stat}, p-value = {p_val}')
    significance = "less than 0.05" if p_val < 0.05 else "greater than 0.05"
    print(f"{column}: p-values = {p_val} (p-value is {significance})")

Parental_Involvement: F-stat = 80.46222821867522, p-value = 3.086484723306131e-35
Parental_Involvement: p-values = 3.086484723306131e-35 (p-value is less than 0.05)
Access_to_Resources: F-stat = 92.41635984339177, p-value = 2.7221702287329308e-40
Access_to_Resources: p-values = 2.7221702287329308e-40 (p-value is less than 0.05)
Motivation_Level: F-stat = 25.535515172788962, p-value = 9.000204034394693e-12
Motivation_Level: p-values = 9.000204034394693e-12 (p-value is less than 0.05)
Family_Income: F-stat = 28.782492235095216, p-value = 3.59767227814745e-13
Family_Income: p-values = 3.59767227814745e-13 (p-value is less than 0.05)
Teacher_Quality: F-stat = 18.597490428613316, p-value = 8.844704258489237e-09
Teacher_Quality: p-values = 8.844704258489237e-09 (p-value is less than 0.05)
Peer_Influence: F-stat = 32.18033265754196, p-value = 1.2426130744876118e-14
Peer_Influence: p-values = 1.2426130744876118e-14 (p-value is less than 0.05)
Parental_Education_Level: F-stat = 35.94710753828243, p-value = 2.9904980898726883e-16
Parental_Education_Level: p-values = 2.9904980898726883e-16 (p-value is less than 0.05)
Distance_from_Home: F-stat = 24.936704481512194, p-value = 1.6303083634793744e-11
Distance_from_Home: p-values = 1.6303083634793744e-11 (p-value is less than 0.05)